ipywidgets==8.0.6
jupyter-server-proxy==4.0.0
jupyterhub==4.0.0
jupyterlab-git==0.41.0
jupyterlab-lsp==4.1.0
jupyterlab==3.6.3
jupyterlab_widgets==3.0.7
jupytext==1.14.5
lckr-jupyterlab-variableinspector==3.0.9
mypy-ls==0.5.1
nbconvert==7.4.0
notebook==6.5.4
pyls-black==0.4.7
pyls-flake8==0.4.0
pyls-isort==0.2.2
pyls-mypy==0.1.8
python-lsp-black==1.2.1
python-lsp-server[all]==1.7.2
virtualenv==20.23.0
