name: Trigger image scanning on pull request and changes to pr
on:
  pull_request:
    types: [opened, edited, synchronize]
    branches: [main]

jobs:
  deploy:
    name: Trigger image scanning
    runs-on: ubuntu-latest
    env:
      PEAK_USER_ID: 8877
      BRANCH: ${{ github.head_ref }}
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      GH_PAGES_BASE_URL: https://peak-ai.github.io/platform-global-images

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get changed directories
        id: changed-directories
        uses: tj-actions/changed-files@v23
        with:
          files_ignore: |
            *.md
            knowledge-base
            .github/workflows
            .gitignore
            license
          dir_names: true

      - name: List all changed directories/images
        run: |
          for directory in ${{ steps.changed-directories.outputs.all_changed_files }}; do
            echo "$directory was changed"
          done

      - name: Run docker build on changed images
        run: |
          for directory in ${{ steps.changed-directories.outputs.all_changed_files }}; do
            tag=$(echo $directory | tr / -)
            echo "Building $directory"
            docker build $directory --build-arg PEAK_USER_ID=$PEAK_USER_ID -t $tag
          done

      - name: Run snyk scan on changed images
        if: steps.changed-directories.outputs.any_changed == 'true'
        shell: bash --noprofile --norc {0}
        id: snyk-scans
        run: |
          npx snyk auth $SNYK_TOKEN
          mkdir -p /tmp/$BRANCH
          scan_summary=$(cat << EOF
            <table>
              <tr>
                <th>Image name</th>
                <th>Total vulnerabilities</th>
                <th>No. of Critical vulnerabilities</th>
                <th>No. High vulnerabilities</th>
              </tr>
            EOF)
          for directory in ${{ steps.changed-directories.outputs.all_changed_files }}; do
            tag=$(echo $directory | tr / -)
            npx snyk container test $tag --json >> $tag.json
            cat $tag.json
            npx snyk-to-html -i $tag.json -o /tmp/$BRANCH/$tag.html -s -d
            scan_reports=$(echo $GH_PAGES_BASE_URL/$BRANCH/$tag.html $scan_reports)
            # scan_summary=$(echo $scan_summary "<tr><td>)
          done
          echo "::set-output name=scan_reports::$scan_reports"

      - name: Push scan results to github pages
        if: steps.changed-directories.outputs.any_changed == 'true'
        run: |
          mkdir /tmp/gh-pages && cd /tmp/gh-pages
          git init && git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git checkout -b gh-pages
          git pull origin gh-pages
          git config --local user.email "scanner@peak.ai"
          git config --local user.name "github-actions[bot]"
          rm -rf $BRANCH
          cp -R /tmp/$BRANCH $BRANCH
          git add $BRANCH
          git commit -m "Add file for ${BRANCH}"
          git push origin gh-pages

      - name: Add comment to PR
        if: steps.changed-directories.outputs.any_changed == 'true'
        uses: mshick/add-pr-comment@v1
        with:
          message: |
            **This is an autogenated comment**
            A snyk scan was performed on the changed images. Reports for the same can be found at:
            ${{steps.snyk-scans.outputs.scan_reports}}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: false
